<div class="signup-container">
  <div class="signup-form">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div>
        <label for="email">email:</label>
        <input type="text" id="emaill" formControlName="email">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>
  
