


.header_section{
    background-color: #242424;
    padding: 10px;
    color: #fcfcfc;
    .header-div{
        display: flex;
        justify-content: space-between;
        .header-logo{
            max-width: 60px;
            height: 60px;
            margin-top: 8px;
            width: 100%;
        }
        .header-nav{
           .header-ul{
            display: flex;
            .header-list{
                list-style: none;
                margin: 10px 30px;
                font-size: 19px;
                cursor: pointer;
                a{
                    color: #ffffff;
                      i{
                          font-size: 15px;
                          margin-right: 5px;
                      }
                      text-decoration: none;
                      transition: 0.4s;
                  }
                  a:hover{
                    color: #ffa200;
                  }
            }
           } 
        }
    }
}

//BUTTON 3
.third {
    transition: all 150ms ease-in-out;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #ffa200;
    font-size: 18px;
}

.third:hover{
    background-color: #e8e8e8;
    box-shadow: 3px 2px 15px #fcab20;
    border: #fcab20;
}

.section-slider{
    border-radius: 0 0 0 250px;
    background: #3b4a6b;
    height: 60vh;
    .section-main-div{
        height: 100%;
    }
}




