<h1>Product catalog</h1>

<div *ngIf="loading; else productsContent"> <!-- Display loading indicator if loading is true -->
    <!-- Add your loading indicator here (e.g., spinner, progress bar) -->
    Loading...
</div>



<ng-template #productsContent>

    <div>
        <label for="minPrice">Min Price:</label>
        <input type="number" id="minPrice" [(ngModel)]="minPrice" (change)="applyFilters()">
    </div>
    <div>
        <label for="maxPrice">Max Price:</label>
        <input type="number" id="maxPrice" [(ngModel)]="maxPrice" (change)="applyFilters()">
    </div>

    <div>
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search by name...">
        <button (click)="search()">Search</button>
    </div>


<div class="sidebar">
    <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
        <option value="">All Categories</option>
        <option *ngFor="let categoryName of categoryNames" [value]="categoryName">{{ categoryName }}</option>
      </select>

      <select [(ngModel)]="selectedBrand" (change)="applyFilters()">
        <option value="">All Brands</option>
        <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
      </select>


      <div>
        <input type="radio" name="ratingFilter" id="ratingFilter0" [(ngModel)]="selectedRating" [value]="0" (change)="applyFilters()">
        <label for="ratingFilter0">0</label>
      
        <input type="radio" name="ratingFilter" id="ratingFilter1" [(ngModel)]="selectedRating" [value]="1" (change)="applyFilters()">
        <label for="ratingFilter1">1</label>
      
        <input type="radio" name="ratingFilter" id="ratingFilter2" [(ngModel)]="selectedRating" [value]="2" (change)="applyFilters()">
        <label for="ratingFilter2">2</label>
      
        <input type="radio" name="ratingFilter" id="ratingFilter3" [(ngModel)]="selectedRating" [value]="3" (change)="applyFilters()">
        <label for="ratingFilter3">3</label>
      
        <input type="radio" name="ratingFilter" id="ratingFilter4" [(ngModel)]="selectedRating" [value]="4" (change)="applyFilters()">
        <label for="ratingFilter4">4</label>
      
        <input type="radio" name="ratingFilter" id="ratingFilter5" [(ngModel)]="selectedRating" [value]="5" (change)="applyFilters()">
        <label for="ratingFilter5">5</label>
      </div>
      


    <button (click)="clearFilters()">Clear Filters</button>
</div>
  
<div>
    <div class="pagination">
        <button (click)="onPageChange(pageIndex - 1)" [disabled]="pageIndex === 1"  >Previous</button>
        <span>Page {{ pageIndex }}</span>
        <button (click)="onPageChange(pageIndex + 1)" [disabled]="products.length === 0">Next</button>
    </div>
    
    <div>
        <label for="pageSize">Page Size:</label>
        <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)"  [disabled]="products.length === 0">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        <!-- Add more options as needed -->
        </select>
    </div>
</div>

<div *ngIf="products.length > 0; else noProductsMessage">
  <div class="product-card" *ngFor="let product of products">
    <img [src]="product.thumbnail" alt="Product Thumbnail" class="product-thumbnail">
    <div class="product-details">
      <div class="product-title">{{ product.title }}</div>
      <div class="product-price">{{ product.price.current | currency }}</div>
      <div class="product-rating">Rating: {{ product.rating }}</div>
      <div class="product-rating">Stock: {{ product.stock }}</div>
      <div class="product-brand">Brand: {{ product.brand }}</div>
      <button (click)="addToCart(product._id, 1)">Add to Cart</button>
    </div>
    <a [routerLink]="['/items', product._id]">View Details</a>
  </div>
</div>  
</ng-template>

<ng-template #noProductsMessage>
    <div class="no-products-message">
      There are no products to show.
    </div>
</ng-template>